*{
font-family: "Gill Sans", sans-serif;    
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FB62F6;
}
.box{
    border-radius: 10px;
    width: 60%;
    height: auto;
    background-color: #F2FF49;
    text-align: center;
}
.box h2{
    padding-top: 10px;
}
.box input{
    
    text-align: center;
    height: 7vh;
    width: 80%;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 14px;
    background-color: #FF4242;
    color: white;
    
}
.box input:focus{
    outline: none;
}

.box button{
    cursor: pointer;
    border: none;
    background-color: #645DD7;
    color: white;
    border-radius: 5px;
    height: 6vh;
    margin-bottom: 10px;
    width: 30%;
}

.box button:hover{
    background-color: black;
    transition: 0.5s;
}